Package: emercoin
Version: 0.5.0
Maintainer: Aspanta Limited <info@aspanta.com>
Architecture: amd64
Section: net
Priority: optional
Description: Emercoin Service for Ubuntu 16.04 LTS
Depends: pwgen, openssl, miniupnpc
Build-Depends: build-essential, libboost-dev, libboost-system-dev, libboost-filesystem-dev, libboost-program-options-dev, libboost-thread-dev, libssl-dev, libdb-dev, libdb++-dev, libminiupnpc-dev
